<h1>Videos</h1>

<div id="search">
<% form_for(:search, :url => {:action => :search}, :method => :get ) do |f| -%>
    Cámara: <%= select(:search, :camera_id, Camera.find(:all).map {|c| [c.location, c.id] },
                    {:include_blank => "Todas", 
                     :selected => (params[:camera_id] ? params[:camera_id].to_i : params[:search][:camera_id].to_i) }) %>
  <% fields_for :search do |f| %>
    Desde: <%= calendar_date_select_tag :start, session[:query][:start], :time => true, :valid_date_check => "date <= (new Date()).stripTime()", :popup => :force, :id => "search_start", :name => "search[start]" %> 
    Hasta: <%= calendar_date_select_tag :end, session[:query][:end], :time => true, :valid_date_check => "date <= (new Date()).stripTime()", :popup => :force, :id => "search_end", :name => "search[end]" %>
  <% end %>
  <%= f.submit 'Buscar' %>
<% end -%>
</div>

<table>
  <tr class="hdr">
    <th>Previsualización</th>
    <th>Fecha</th>
    <th>Duración</th>
    <th>Localización</th>
    <th></th>
  </tr>

<% for video in @videos %>
  <tr class="video">
    <td><img class="thumb" src='<%= url_for(:action => 'generate_image', :id => video) %>'  border="1"/></td>
    <td style="padding: 10px;">
        <b>Cámara:</b> <%= video.camera.location %><br/>
        <b>Fecha y hora de inicio:</b> <%= video.start.strftime("%d/%m/%Y (%H:%M)") %> <br/>
        <b>Fecha y hora de término:</b> <%= video.end.strftime("%d/%m/%Y (%H:%M)") %>
    </td>
    <td><%= "#{video.duration} minutos" %></td>
    <td><%= video.camera.location %></td>

    <td><%= link_to 'View', :action => 'send_movie', :id => video %></td>
    <!-- <td><%= link_to 'Show', video %></td>
    <td><%= link_to 'Edit', edit_video_path(video) %></td>
    <td><%= link_to 'Destroy', video, :confirm => 'Are you sure?', :method => :delete %></td> -->
  </tr>
<% end %>
</table>

<%= will_paginate @videos%>

<br />

<%= link_to 'Regresar a la página principal', cameras_path %>

<!-- <%= link_to 'New video', new_video_path %> -->
