<h1>Videos</h1>

<div id="search">
<% form_for(:search, :url => {:action => :search}, :method => :get ) do |f| -%>
    C치mara: <%= select(:search, :camera_id, Camera.find(:all).map {|c| [c.location, c.id] },
                    {:include_blank => "Todas", 
                     :selected => (params[:camera_id] ? params[:camera_id].to_i : params[:search][:camera_id].to_i) }) %>
  <% fields_for :search do |f| %>
    Desde: <%= f.calendar_date_select :since, :time => true %> Hasta: <%= f.calendar_date_select :until, :time => true %>
  <% end %>
  <%= f.submit 'Buscar' %>
<% end -%>
</div>

<table>
  <tr class="hdr">
    <th>fecha</th>
    <th>duraci칩n</th>
    <th>localizaci칩n</th>
    <th></th>
  </tr>

<% for video in @videos %>
  <tr>
    <td><%= video.start %>-<%= video.end %></td>
    <td><%= "#{video.duration} minutos" %></td>
    <td><%= video.camera.location %></td>

    <td><%= link_to 'View', :action => 'send_movie', :id => video %></td>
    <!-- <td><%= link_to 'Show', video %></td>
    <td><%= link_to 'Edit', edit_video_path(video) %></td>
    <td><%= link_to 'Destroy', video, :confirm => 'Are you sure?', :method => :delete %></td> -->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Regresar a la p치gina principal', cameras_path %>

<!-- <%= link_to 'New video', new_video_path %> -->
