<h1>Videos</h1>

<table>
  <tr class="hdr">
    <th>fecha</th>
    <th>hora</th>
    <th>duración</th>
    <th>localización</th>
	<th></th>
  </tr>

<% for video in @videos %>
  <tr>
    <td><%= video.date %></td>
    <td><%= video.start %>-<%= video.end %></td>
    <td><%= video.duration %></td>
    <td><%= video.camera.location %></td>

    <td><%= link_to 'View', :action => 'send_movie', :id => video %></td>
    <!-- <td><%= link_to 'Show', video %></td>
    <td><%= link_to 'Edit', edit_video_path(video) %></td>
    <td><%= link_to 'Destroy', video, :confirm => 'Are you sure?', :method => :delete %></td> -->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Regresar a la página principal', cameras_path %>

<!-- <%= link_to 'New video', new_video_path %> -->
