<h1>Editing camera</h1>

<%= error_messages_for :camera %>

<% form_for(@camera) do |f| %>
  <p>
    <%= f.label "Direcci칩n IP" %><br />
    <%= f.text_field :ip %>
  </p>
  <p>
    <%= f.label "Localizaci칩n" %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label "Descripci칩n" %><br />
    <%= f.text_field :description %>
  </p>
  <!-- <p>
    <%= f.label "Usuario" %><br />
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.label "Contrase침a" %><br />
    <%= f.text_field :password %>
  </p> -->
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @camera %> |
<%= link_to 'Back', cameras_path %>
