
<p>
  <strong>Dirección IP</strong><br />
  <%= @camera.ip %>
</p>
<p>
  <strong>Localización</strong><br />
  <%= @camera.location %>
</p>
<p>
  <strong>Descripción</strong><br />
  <%= @camera.description %>
</p>
<p>
  <strong>Codec</strong><br />
  <%= @camera.codec.name %>
</p>
<p>
  <strong>Calidad</strong><br />
  <%= @camera.quality.name %>
</p>
<p>
  <strong>Agente</strong><br />
  <%= @camera.agent.name %>
</p>
<p>
  <strong>Duración de videos</strong><br />
  <%= @camera.video_duration %> minutos
</p>
<p>
  <strong>Latitud</strong><br />
  <%= @camera.lat %>
</p>
<p>
  <strong>Longitud</strong><br />
  <%= @camera.lng %>
</p>
<!-- <p>
  <%= "Usuario" %><br />
  <%= @camera.user %>
</p>
<p>
  <%= "Contraseña" %><br />
  <%= @camera.password %>
</p> -->


<%= link_to 'Editar', edit_camera_path(@camera) %> |
<%= link_to 'Regresar a página principal', cameras_path %>
