<%= image_tag(disk_usage_chart) %>

<% if !Camera.all.blank? %>
  <table border="1">
    <tr><th>Camera</th><th>Usage</th><th>Oldest Video Date</th><th>Newest Video Date</th><th>Videos</th></tr>
    <% for camera in Camera.all %>
    <tr>
    <td><%= camera.ip %></td>
    <td><%= number_to_human_size(camera.disk_usage) %></td>
    <td><%= camera.oldest_video_date.strftime("%Y/%m/%d %H:%M") %></td>
    <td><%= camera.newest_video_date.strftime("%Y/%m/%d %H:%M") %></td>
    <td><%= camera.videos.size %></td>
    </tr> 
    <% end %>
  </table>
<% else %>
  
<% end %>

<table>
  <tr><td>Total:</td><td><%= number_to_human_size(Camera.disk_usage) %></td></tr>
  <tr><td>Libre:</td><td><%= number_to_human_size(available_space) %></td></tr>
</table>